# Folders (distribution / packaging)
01_Miscellaneous/
delete/

# Specific files
FE model updating in Python - Instructions and case study - v2.0.1.docx
FE model updating in Python - Instructions and case study - v2.0.1.pdf