# Compiled source
__pycache__/

# Folders (distribution / packaging)
FEM updating/

# Specific files
example_fig1.svg
example_fig2.svg
example_fig3.svg
fig1.svg
Numerical case study - description.docx
Numerical case study - description.pdf


