# Compiled source
__pycache__/

# Folders (distribution / packaging)
01_Figures/
FEM updating/

# Specific files
fig1.svg
fig2.svg
fig3.svg
ss_beam.svg
Numerical case study - description.docx
Numerical case study - description.pdf


